.datepicker {
	z-index: 1151 !important;
}

.modal-header {
	min-height: 16.43px;
	padding: 15px;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	border-radius: 6px;
	outline: 0;
}

